
.main-container{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100vh;
    position: relative;
    transition: all 1s ease-in-out;
}

.content{
    background: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 30px 30px;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Arial Narrow', Arial, sans-serif;
    width: 35em;
    max-width: 90%;
    position: absolute;
    top:20%;
}

.credits{
    position: absolute;
    bottom: 10%;
    right: 3%;
    background: rgba(131, 212, 120, 0.384);
    padding: 10px;
    border-radius: 10px;
}



.content-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0px 20px;
}

.local-time{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: flex-start;
    margin-top: 20px;
}

.local-time h6{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.local-time h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    align-self: center;
}

.content-top-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-top-wrapper h1{
    align-self: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.content-top-wrapper p{
    align-self: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content-title{
    display:flex;
    width: 100%;
    margin: 0px;
    align-items: center;
}
.content-title h6{
    margin: 0px 6px;
}

.content-top{
    margin: 10px 0px;
}

.content-top span{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: 40px;
}

.content-bottom{
    align-self: end;
    justify-self: end;
    font-size: 13px;
}

.content-bottom p{
    margin: 0px;
}

.hourly-element{
    min-width: 120px;
    max-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hourly-element-hour{
    margin-bottom: 10px;
}

.hourly-element-condition{
    display: flex;
    align-items: center;
}

.hourly-element-condition p {
    margin: none;
    font-size: 14px;
}

.hourly-report{
    display: flex;
    margin: 60px 0px;
    padding: 15px;
    border: 3px solid rgba(145, 144, 144, 0.466) ;
    border-radius: 10px;
    box-sizing: content-box;
    background: rgba(32, 32, 32, 0.438);
    justify-content: space-around;
}

.hourly-report-img{
    width: 20px;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 55px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#ffffffdc 0 0);
    background: 
      var(--c) 0%   50%,
      var(--c) 50%  50%,
      var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: l1 1s infinite linear;
    justify-self: center;
  }
  @keyframes l1 {
    0%  {background-size: 20% 100%,20% 100%,20% 100%}
    33% {background-size: 20% 10% ,20% 100%,20% 100%}
    50% {background-size: 20% 100%,20% 10% ,20% 100%}
    66% {background-size: 20% 100%,20% 100%,20% 10% }
    100%{background-size: 20% 100%,20% 100%,20% 100%}
  }

  /* hasta 480px */
@media (max-width: 480px) { 
    .content{
    border-radius: 10px;
    padding: 25px 25px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Arial Narrow', Arial, sans-serif;
    width: 70%;
    max-width: 70%; 
    top:10%;
    }
    .content-top{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px;
    }

    .local-time{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    }
    .hourly-report{
    overflow-x: auto;              /* permite scroll horizontal */
    -webkit-overflow-scrolling: touch; /* suaviza scroll en iOS */
    gap: 15px;                     /* separación entre items */
    justify-content: flex-start;   /* los items se alinean a la izquierda para scroll */
    scroll-snap-type: x mandatory;
    }

}